@use 'variables' as *;

.message{

  &__error {
    color: #dc2626;
    background-color: #fee2e2;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
}
