@use "variables" as *;
.search-filter {
  margin: 20px;
  position: relative;
  z-index: 20;

  &__inputs {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5px;

    .search-filter__input {
      flex: 1;
      min-width: 200px;
    }
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: stretch;
      gap: 8px;
      .search-filter__input {
        width: 100%;
        min-width: unset;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 10px;
    align-items: center;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: stretch;
      gap: 8px;
      width: 100%;
    }
  }

  &__action {
    cursor: pointer;

    &.filter-button {
      transition: all 0.5s ease-out;
      opacity: 1;
      transform: scale(1);
      max-width: 60px;

      &.filter-button-hidden {
        opacity: 0;
        max-width: 0;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 8px;
      padding: 12px 4px;
      width: 100vw;
      border-radius: 0;
      max-height: 300px;
    }
    
    &.filters-hidden {
      opacity: 0;
      transform: translateY(20px);
      max-height: 0;
      padding: 0 20px;
      margin: 0;
    }
  }

  &__filters-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 8px;
      width: 100%;
    }
  }

  &__close-button {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;

    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $color-gray-300;
    }
  }

  &__no-results {
    color: $color-error;
    margin-top: 10px;
  }

  &__result {
    margin-bottom: 16px;
  }

  &__result-title {
    font-weight: bold;
  }

  &__result-location,
  &__result-info {
    margin: 4px 0;
  }

  &__separator {
    border: none;
    margin-top: 8px;
  }

  &__action {
    .filter-close-icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    .search-icon {
      width: 18px;
      height: 18px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  &__close-button {
    .filter-close-icon {
      width: 16px;
      height: 16px;
    }
  }
}
