@use 'variables' as *;
.card{
    border-radius: 6px;
    padding: 16px;
    background-color:$color-white;
    box-shadow: $box-shadow-card;
    border:1px solid $color-gray-200;
    transition: $transition-base,box-shadow 0.2s ease;
    
  &--hoverable:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 4px 16px rgba(25, 118, 210, 0.18), 0 1.5px 6px rgba(0,0,0,0.08);
    border: 1.5px solid $color-default-press;
    background-color: $color-white;
    transition: 
      box-shadow 0.2s ease,
      border 0.2s ease,
      background-color 0.2s ease,
      transform 0.2s;
  } 

  &--selected {
    border: 1.5px solid $color-default-press;
    background-color: $color-gray-303;
  }

  &__logo {
    height: 36px;
    width: 36px;
  }
  &__header {
      display: flex;
      position: relative; 
      font-weight: bold;
      margin-bottom: 8px;
      justify-content: space-between;
      align-items: center;
    }
  &__options{
        width: 5px;
        height: 13px;
        position: absolute;
        right: 10px;
    }
    
  &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
    }
  &__date{
    font-family: $font-body;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 3%;
    color: $color-default;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__nameCompany{
    font-family: $font-body;
    font-weight: 500;
    font-style: italic;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 3%;
    color: $color-dark-gray;
  }
  &__location{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 80%;
    display: block;
    font-weight: 600;
    font-style: italic;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 3%;
    color: $color-dark;
    font-family: $font-body;
    margin-bottom: 0px;
  }
  &__content p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  
  &__title{
    font-family: $font-heading;
    color: $color-dark;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 20px;
    line-height: $line-height;
    letter-spacing: 3%;
  }
  
}
.card--clickable {
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.card--clickable:hover {
  box-shadow: 0 4px 16px rgba(25, 118, 210, 0.18), 0 1.5px 6px rgba(0,0,0,0.08);
  border: 1.5px solid $color-default-press;
  background-color: $color-white;
  transform: scale(1.02);
  transition: 
    box-shadow 0.2s ease,
    border 0.2s ease,
    background-color 0.2s ease,
    transform 0.2s;
}
