@if (type === 'tel') {
  <div class="phone-wrapper">
    <img [src]="selectedCountry?.flag" alt="country flag" class="flag-img">
    <select 
      class="country-select" 
      [disabled]="isDisabled"
      (change)="onSelectCountry($any($event.target).value)">
      @for (country of countries; track country.code) {
        <option [value]="country.code" [selected]="country.code === selectedCountry?.code">
          {{country.code}} - {{country.name}}
        </option>
      }
    </select>
    <div class="input-container" [style.width]="width" [style.height]="height" [style.background-color]="backgroundColor">
      <span class="phone-prefix">{{selectedCountry?.dialCode}}</span>

      <input 
        [type]="type" 
        [id]="label | translate" 
        [placeholder]="floatingLabels ? ' ' : (placeholder | translate)"
        [ngClass]="{
          'input-container__input': true,
          'phone-input': true,
          'has-error': errors && fieldIsTouched,
          'placeholder-start': placeholderPosition === 'start',
          'has-content': innerValue && innerValue.length > 0
        }" 
        [(ngModel)]="innerValue" 
        (ngModelChange)="onInputChange($event)" 
        (focus)="onFocus()"
        (blur)="onBlur()" 
        [disabled]="isDisabled">
      <label 
        [for]="label | translate" 
        class="input-container__label"
        [ngClass]="{'floating': floatingLabels && (isFocused || (innerValue && innerValue.length > 0))}">
        {{ floatingLabels ? (placeholder | translate) : (label | translate) }}
      </label>
    </div>
  </div>
} @else {
  <div class="input-container" [style.width]="width" [style.height]="height" [style.background-color]="backgroundColor">
    <input 
      [type]="type" 
      [id]="label | translate" 
      [placeholder]="floatingLabels ? ' ' : (placeholder | translate)"
      [ngClass]="{
        'input-container__input': true,
        'with-left-icon': leftImageUrl,
        'with-right-icon': rightImageUrl || (showClearButton && innerValue),
        'with-both-icons': leftImageUrl && (rightImageUrl || (showClearButton && innerValue)),
        'has-error': errors && fieldIsTouched,
        'placeholder-start': placeholderPosition === 'start',
        'has-content': innerValue && innerValue.length > 0
      }" 
      [(ngModel)]="innerValue" 
      (ngModelChange)="onInputChange($event)" 
      (focus)="onFocus()"
      (blur)="onBlur()" 
      [disabled]="isDisabled">

    <label 
      [for]="label | translate" 
      class="input-container__label"
      [ngClass]="{'floating': floatingLabels && (isFocused || (innerValue && innerValue.length > 0))}">
      {{ floatingLabels ? (placeholder | translate) : (label | translate) }}
    </label>

    @if (leftImageUrl) {
      <div class="input-container__icon left">
        <img [src]="leftImageUrl" alt="left icon">
      </div>
    }

    @if (rightImageUrl) {
      <div class="input-container__icon right" (click)="onRightIconClick()">
        <img [src]="rightImageUrl" alt="right icon">
      </div>
    }

    @if (showClearButton && innerValue) {
      <div class="input-container__clear-button" (click)="clearInput()">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17Z"
            stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M11.9314 7.1297C12.2243 6.8368 12.2243 6.36193 11.9314 6.06904C11.6385 5.77614 11.1636 5.77614 10.8707 6.06904L9.00107 7.93871L7.1314 6.06904C6.83851 5.77614 6.36364 5.77614 6.07074 6.06904C5.77785 6.36193 5.77785 6.8368 6.07074 7.1297L7.94041 8.99937L6.07074 10.869C5.77785 11.1619 5.77785 11.6368 6.07074 11.9297C6.36364 12.2226 6.83851 12.2226 7.1314 11.9297L9.00107 10.06L10.8707 11.9297C11.1636 12.2226 11.6385 12.2226 11.9314 11.9297C12.2243 11.6368 12.2243 11.1619 11.9314 10.869L10.0617 8.99937L11.9314 7.1297Z"
            fill="#2E2473" />
        </svg>
      </div>
    }
  </div>
}

@if (errors && fieldIsTouched) {
  <div class="input-error-messages">
    @if (errors['required']) {
      <span class="error-message">{{ 'ERRORS.REQUIRED' | translate }}</span>
    }
    @if (errors['email']) {
      <span class="error-message">{{ 'ERRORS.EMAIL_INVALID' | translate }}</span>
    }
    @if (errors['minlength']) {
      <span class="error-message">{{ 'ERRORS.MIN_LENGTH' | translate: { requiredLength: errors['minlength'].requiredLength } }}</span>
    }
    @if (errors['pattern']) {
      <span class="error-message">{{ 'ERRORS.PATTERN_INVALID' | translate }}</span>
    }
    @if (errors['maxlength']) {
      <span class="error-message">{{ 'ERRORS.MAX_LENGTH' | translate: { requiredLength: errors['maxlength'].requiredLength } }}</span>
    }
  </div>
}