@use 'variables' as *;

.select-container {
  position: relative;

  &.open .select {
    background-color: $color-green;
    border: none;
    font-weight: 600;
    color: $color-dark;
  }
}

.select {
  width: fit-content !important;
  min-width: 60px;
  max-width: 200px;
  height: 37px;
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fcfcfc;
  border: 1px solid $color-dark-gray;
  background-image: url('data:image/svg+xml;utf8,<svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 7.5L10.2631 0H0.73686L5.5 7.5Z" fill="%231F2937"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 11px 8px;
  cursor: pointer;
  font-family: $font-body;
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  transition: all 0.3s ease;

  &--has-selection {
    font-weight: 600;
  }
}

div.select.select--active {
  background-color: $color-green;
  font-weight: 600 !important;
  border: none;
  color: #000;
}

div.select.select--active .select__option {
  font-weight: 600 !important;
  color: $color-dark;
}

.select__option {
  margin-left: 8px;
  margin-right: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  font-family: $font-body;
  font-weight: inherit;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: inherit;
}

.select-dropdown {

  display: none;
  position: absolute;
  top: calc(100%);
  width: 100%;
  min-width: 195px;
  border-radius: 2px;
  box-shadow: 0px 4px 20px 0px rgba(31, 41, 55, 0.2);
  background: $color-background;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;

  &::-webkit-scrollbar {
    width: 3px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-dark-gray;
    border-radius: 50px;
    min-height: 40px;
  }

  &.open {
    display: block;
  }

  &__option,
  &__option--disabled,
  &__option--selected {
    display: flex;
    margin-left: 4px;
    margin-right: 4px;
    align-items: center;
    padding: 8px 12px;
    width: calc(100% - 8px);
    height: 36px;
    border-radius: 2px;
    font-family: $font-body;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    font-weight: 400;
  }

  &__option {
    &:hover {
      background: #2E2473;
      color: white;
    }

    &--selected {
      background: #2E2473;
      color: white;

    }

    &--disabled {
      background: $color-gray-300;
      color: $color-dark;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__option-text {
    font-family: $font-body;
    font-size: 13px;
    line-height: 130%;
  }
}
