.profile-data-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  min-height: 100vh;
  width: 100% !important;
 
}

.floating-save-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1000;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
