@use "variables";

.recent-search-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  .recent-search-title {
    font-weight: bold;
  }

  .recent-search {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1.5px solid variables.$color-gray-200;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color:#ffffff;
    &__job {
      display: flex;
      gap: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid variables.$color-gray-200;
      overflow-y: hidden;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }
    }

    &__description {
      font-size: 18px;
      font-weight: 600;
    }
  }
}


