<footer class="footer">
    <div class="footer__container">
        <div class="footer__links__container">
            <p class="footer__links"><a href="">{{"FOOTER.TERMS-CONDITIONS" | translate}}</a></p>
            <p class="footer__links"><a href="">{{"FOOTER.PRIVACY-POLITICS" | translate}}</a></p>
            <p class="footer__links"><a href="">{{"FOOTER.FAQS" | translate}}</a></p> 
        </div>
        <div class="footer__links__container">
            <p class="footer__links"><a href="https://techforb.com/" target="_blank">© Technologies for Business | 2025</a></p>
        </div>
    </div>
</footer>
