@use '../../../../styles/variables' as *;
.section-home{
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__content-filters{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        //height: 127px;
        background-color: $color-gray-200;
    }
    &__content{
        display: flex;
        width: 80%;
        margin:0 auto;
        gap: 30px;
        margin-bottom: 30px;
        &__left{
           display: flex;
           flex-direction: column;
           width: 35%;
           gap: 30px;
        }
        &__right{
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}
