@use "variables";

.about-the-job {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid variables.$color-gray-200;

    &__title {
        font-weight: bold;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}