@use 'variables' as *;
:host{
    width: 100%;
}
.pager{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column-reverse;
    gap: 5px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 16px;
    }
    &__cant{
        color: $color-dark-gray;
        font-family: $font-body;
        font-weight: 400;
        font-size: 12px;
    }
    &__container-pager{ 
        display: flex;
        gap: 16px;
        &__btn{
            border-radius: 50px;
            background-color: transparent;
            border: none;
            min-width: 24px;
            height: 24px;
            padding: 1px;
            cursor: pointer;
            font-family: $font-body;
            font-weight: 500;
            font-size: 14px;
            color: $color-dark-gray;
            &:nth-last-child(2),
            &:last-child {
              img {
                transform: rotate(180deg);
              }
            }
            &.--active{
                font-weight: bold;
                background-color: $color-green;
            }
        }
        &__pager--dots{
            color: $color-dark-gray;
            align-self: center;
        }
    }
}